@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap');

* {
    background-image: url('./assets/');
}

$merch_color: #0282f9;
$main_color: #1c1c1c;
$sticky_ft: #303030;